# Entorno Virtual
venv/
env/
ENV/

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python

# Django
db.sqlite3
*.log
local_settings.py
media/
staticfiles/

# Sistema Operativo
.DS_Store
Thumbs.db

# IDEs
.vscode/
.idea/

# Variables de entorno
.env
*.pyc
*__pycache__*
db.sqlite3
venv/
.env